html {
  background-color: #FFE7CF;
}

.headings {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Monaco';
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.headings:hover {
  cursor: default;
}

#resultsHeading {
  font-family: 'Monaco';
  text-align: center;
}

#resultsInput {
  display: flex;
  margin: auto;
  padding-bottom: 0;
  width: 2.5em;
  max-width: 2.5em;
  font-family: 'Courier';
  font-size: 2em;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#beginConversionButton {
  font-weight: bold;
  margin: auto;
  padding: 1.5em;
  font-family: 'Monaco';
  border-radius: 1em;
}

#beginConversionButton:hover {
  cursor: pointer;
  background-color: #29506D;
  color: white;
  border-radius: 1em;
}

#jsonFolder {
  display: none;
  margin: auto;
  width: 15em;
}

#csvFolder {
  display: none;
  margin: auto;
  width: 15em;
  color: green;
  margin-bottom: .5em;
}

